* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #f1f1f1;
}

header {
  padding: 40px 0;
  background-color: #fff;
}

header img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

h1.name {
  font-size: 28px;
  margin: 20px 0;
}

img.android-logo {
  width: 100px;
  height: 100px;
  margin: 20px 0;
}

p.quote {
  font-size: 18px;
  font-weight: bold;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
  margin: 40px auto;
}

.profile-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.profile-link:hover {
  background-color: #f1f1f1;
}

.profile-link img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-link span {
  font-size: 14px;
  font-weight: bold;
}

hr.divider {
  margin: 40px auto;
  border: none;
  height: 2px;
  width: 80%;
  background-color: #ccc;
}

.contact-me,
.download-resume {
  margin: 20px auto;
  max-width: 400px;
}

.contact-me h2,
.download-resume h2,
.faq-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.download-icon {
  width: 40px;
  height: 40px;
}
/* Add your animated background CSS code here */
